<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <meta id="theme_status" name="theme-color" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/form.css' %}"/>

</head>
<body class="bg-body-tertiary">
  
    <div class="login-container bg-body-tertiary">
      
      {% if messages %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              <strong>
                {{ message }}
              </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}


        <div class="logo">
            <img src="{% static 'blog/img/logo.png' %}" alt="Logo">
        </div>
        <h2 class="text-center text-body-tertiary">Login To Your Account</h2>
        <p class="text-center form-text">Enter Your Credentials to access your account</p>
    
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                    <span class="input-group-text"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="staySignedIn">
                <label class="form-check-label" for="staySignedIn">Stay Signed in</label>
                <a href="{% url 'forgot_password' %}" class="forgot-password float-end">Forgot Password?</a>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <p class="text-center mt-3">Don't have an Account? <a href="{% url 'register' %}" class="create-account">Create an account</a></p>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
 var html = document.querySelector('html');
const status_bar = document.getElementById('theme_status');

if (localStorage.getItem('theme') === 'dark') {
  html.setAttribute('data-bs-theme', 'dark');
  // Mengubah atribut content untuk status bar
  status_bar.setAttribute('content', '#0c0e10fb');
  
} else {
  html.setAttribute('data-bs-theme', 'light');
  // Mengubah atribut content untuk status bar
  status_bar.setAttribute('content', '#fff');
  
}
</script>
</body>
</html>
